<%- include('top_page') %>
<h1><%= page_title %></h1>
<a href="/categories/Add" class="add-button">הוספת קטגוריה</a>
<table>
    <tr>
        <th>שם קטגוריה</th>
        <th>עריכה</th>
        <th>מחיקה</th>
    </tr>
    <% for(let usr of categories){ %>
        <tr>
            <td><%= usr.name %></td>
            <td style="text-align:center; vertical-align:middle;">
                <a href="/categories/Edit/<%= usr.id %>" class="edit-button">✏️ עריכה</a>
            </td>
            <td style="text-align:center; vertical-align:middle;">
                <a href="/categories/Delete?id=<%= usr.id %>" class="delete-button" onclick="return confirm('האם אתה בטוח שברצונך למחוק קטגוריה זו?');">🗑️ מחיקה</a>
            </td>
        </tr>
    <% } %>
</table>
<%- include('bottom_page') %>
