<%- include('top_page') %>


<h1>הוספת משימה חדשה</h1>

<form action="/tasks/Add" method="POST">
    <select name="category_id" id="category_id">
        <option value="">בחר קטגוריה</option>
        <% data.categories.forEach(category => { %>
            <option value="<%= category.id %>" <%= (data.categories.id === category.id) ? 'selected' : '' %>><%= category.name %></option>
        <% }); %>
    </select>
    <div>
        <label for="description">תיאור (עד 200 תווים):</label>
        <input type="text" id="description" name="description" value="<%= data.description || '' %>" maxlength="200" required>
    </div>
    <div>
        <label for="date">תאריך יעד:</label>
        <input type="date" id="date" name="date" value="<%= data.date || '' %>" required>
    </div>
    <div>
        <label for="category_id">קטגוריה:</label>

    </div>
    <button type="submit">הוסף משימה</button>
</form>

<a href="/tasks">חזור לרשימת המשימות</a>

<%- include('bottom_page') %>