<%- include('top_page') %>
<h1><%= page_title %></h1>
<a href="/users/Add" class="add-button">הוספת משתמש</a>
<table>
    <tr>
        <th>#</th>
        <th>שם</th>
        <th>שם משתמש</th>
        <th>מייל</th>
        <th>עריכה</th>
        <th>מחיקה</th>
    </tr>
    <% users.forEach((usr, idx) => { %>
        <tr>
            <td><%= idx + 1 %></td>
            <td><%= usr.name %></td>
            <td><%= usr.uname %></td>
            <td><%= usr.email %></td>
            <td style="text-align:center; vertical-align:middle;">
                <a href="/users/Edit/<%= usr.id %>" class="edit-button">✏️ עריכה</a>
            </td>
            <td style="text-align:center; vertical-align:middle;">
                <a href="/users/Delete?id=<%= usr.id %>" class="delete-button" onclick="return confirm('האם אתה בטוח שברצונך למחוק משתמש זה?');">🗑️ מחיקה</a>
            </td>
        </tr>
    <% }) %>
</table>
<%- include('bottom_page') %>
